html {
  height: 100%;
}

html, body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "RSCBold";
  src: url("/fonts/rscbold.woff") format('woff'),
  url("/fonts/rscbold.ttf") format('truetype');
}

body {
  background-image: url("/img/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;

  @media (min-width: $mobile-breakpoint) {
    background-image: none;
    background-color: black;
  }
}

a, a:visited, a:hover {
  color: $LinkColor;
}

BODY, P, TD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
}

.rscfont {
  font-family: RSCBold, Arial, Helvetica, sans-serif;
  font-size: 1.25em;
}

.b {
  BORDER-RIGHT: #373737 3pt outset;
  BORDER-TOP: #373737 3pt outset;
  BORDER-LEFT: #373737 3pt outset;
  BORDER-BOTTOM: #373737 3pt outset;
}

.b2 {
  BORDER-RIGHT: #570700 3pt outset;
  BORDER-TOP: #570700 3pt outset;
  BORDER-LEFT: #570700 3pt outset;
  BORDER-BOTTOM: #570700 3pt outset;
}

.e {
  BORDER-RIGHT: #382418 2px solid;
  BORDER-TOP: #382418 2px solid;
  BORDER-LEFT: #382418 2px solid;
  BORDER-BOTTOM: #382418 2px solid;
}

.c {
  TEXT-DECORATION: none;
  cursor: pointer;
}

.f {
  color: #8cba3e;
}

A.c:hover {
  TEXT-DECORATION: underline;
}

.white {
  COLOR: #ffffff;
  TEXT-DECORATION: none;
}

.red {
  COLOR: #e10505;
  TEXT-DECORATION: none;
}

.lblue {
  COLOR: #9db8c3;
  TEXT-DECORATION: none;
}

.dblue {
  COLOR: #0d6083;
  TEXT-DECORATION: none;
}

.yellow {
  COLOR: #ffe139;
  TEXT-DECORATION: none;
}

.green {
  COLOR: #04a800;
  TEXT-DECORATION: none;
}

.purple {
  COLOR: #c503fd;
  TEXT-DECORATION: none;
}

.pink {
  COLOR: #faa8aa;
  TEXT-DECORATION: none;
}

A.c:hover {
  TEXT-DECORATION: underline;
}

A.white:hover {
  TEXT-DECORATION: underline;
}

A.red:hover {
  TEXT-DECORATION: underline;
}

A.lblue:hover {
  TEXT-DECORATION: underline;
}

A.dblue:hover {
  TEXT-DECORATION: underline;
}

A.yellow:hover {
  TEXT-DECORATION: underline;
}

A.green:hover {
  TEXT-DECORATION: underline;
}

A.purple:hover {
  TEXT-DECORATION: underline;
}

A.pink:hover {
  TEXT-DECORATION: underline;
}

.subtitle {
  text-align: center;
  margin: 10px 0;
}

td input {
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
}

td textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
  resize: none;
}

/* The container - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-above {
  margin-top: 10px !important;
}

.selected {
  color: yellow;
}

header {
  width: 99vw;
  max-height: 24px;
  padding-left: 1vw;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

header > h1, header > h1 > a {
  text-decoration: none;
  font-size: 1.15em;
  display: block;
  flex-grow: 3;
  margin: 0;
  z-index: 2;
}

header > nav {
  flex-grow: 1;
}

header ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

header li {
  list-style: none;
}

header li a {
  line-height: 22px;
}


header li a:hover, .features a:hover {
  color: gold;
}

main {
  @media (min-width: $mobile-breakpoint) {
    width: 600px;
    height: 613px;
    flex: 1;
  }
}

section.top-border {
  display: block;

  @media (min-width: $mobile-breakpoint) {
    display: flex;
    width: 605px;
    height: 43px;
  }
}

div.top-left-border {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 100px;
    height: 43px;
    background-image: url("/img/edge_a.jpg");
  }
}

div.top-middle-border {
  height: 43px;
  background-image: url("/img/edge_c.jpg");

  @media (min-width: $mobile-breakpoint) {
    width: 400px;
  }
}

div.top-middle-border2 {
  height: 43px;
  background-image: url("/img/edge_c2.jpg");
  background-position-x: 53px;

  @media (min-width: $mobile-breakpoint) {
    width: 400px;
    background-position-x: 0;
  }
}

div.top-right-border {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 100px;
    height: 43px;
    background-image: url("/img/edge_d.jpg");
  }
}

.index-middle-bottom {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}

.index-middle-bottom > div:first-child {
  flex: 1 0 39%;
}

.index-middle-bottom > div:last-child {
  flex: 1 0 60%;
}

p.online-count {
  margin: 5px 0;
}

.homepage-rule {
  width: 95%;
}

.recent-patches ul, .live-feed ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recent-patches h3, .live-feed h3 {
  margin: 0 0 5px;
}

.recent-patches a {
  text-decoration: none;
  color: rgb(144, 192, 64);
  font-size: 0.9em;
  line-height: 20px;
}

.live-feed ul li {
  font-size: 0.9em;
  line-height: 20px;
}

section.middle {
  @media (min-width: $mobile-breakpoint) {
    width: 605px;
    display: flex;
  }
}

div.mid-left-border {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 41px;
    min-height: 377px;
    background-image: url("/img/edge_f.jpg");
  }
}

div.mid-right-border {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 41px;
    min-height: 377px;
    background-image: url("/img/edge_e.jpg");
  }
}

div.middle-content, div.middle-play,
div.middle-content-server {
  @media (min-width: $mobile-breakpoint) {
    background-image: url("/img/background.jpg");
    width: 519px;
    min-height: 488px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features {
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid grey;
  border-radius: 5px;
  color: lightgray;
}

.features p {
  margin: 0;
}

.features ul {
  padding-left: 20px;
}

div.logo {
  width: 309px;
  height: 106px;
  padding-top: 28px;
  background-image: url("/img/runescape.gif");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 309px 106px;
}

p.online {
  width: 309px;
  height: 20px;
  text-align: center;
  margin: 0;
}

div.middle-play .buttons {
  width: 519px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.home-buttons {
  display: inline-grid;
  width: 507px;
  height: 320px;
  grid-template-columns: repeat(39, 13px);
  grid-template-rows: repeat(9, 30px);
  align-items: center;
  justify-content: center;
}

.button {
  width: 105px;
  height: 83px;
  display: block;
  background-image: url("/img/button.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font-size: 19px;
  color: #e0d8c0;
  text-shadow: black 1px 2px 1px;
  font-weight: 500;
}

.button:hover, .play-button:hover,
.large-button:hover {
  filter: brightness(130%);
}

.play-button, .large-button {
  width: 195px;
  height: 150px;
  display: block;
  background-image: url("/img/play.gif");
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  text-shadow: black 1px 2px;
  text-align: center;
}

.play-button {
  color: #e03010;
}

.button.launcher-button {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 4;
}

.button.discord {
  grid-column-start: 27;
  grid-column-end: 33;
  grid-row-start: 1;
  grid-row-end: 4;
}

.button.wiki {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}

.button.code {
  grid-column-start: 30;
  grid-column-end: 36;
  grid-row-start: 4;
  grid-row-end: 7;
}

.button.single-player {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 10;
}

.button.faqs {
  grid-column-start: 27;
  grid-column-end: 33;
  grid-row-start: 7;
  grid-row-end: 10;
}

.button.rscplus {
  grid-column-start: 17;
  grid-column-end: 24;
  grid-row-start: 8;
  grid-row-end: 11;
  justify-self: center;
}

.large-button.play {
  grid-column-start: 13;
  grid-column-end: 22;
  grid-row-start: 3;
  grid-row-end: 8;
}

.large-button.play h2 {
  font-size: 36px;
  font-weight: 500;
}

div.orsc-buttons, div.cabbage-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
}

.cabbage-buttons a {
  flex: 1 0 32%;
}

section.bottom-border {
  @media (min-width: $mobile-breakpoint) {
    width: 605px;
    height: 43px;
    display: flex;
  }
}

section > div.bottom-left-border {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 100px;
    height: 82px;
    background-image: url("/img/edge_g.jpg");
  }

}

section > div.bottom-middle {
  height: 50px;
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-breakpoint) {
    width: 400px;
    height: 82px;
  }
}

section > div.bottom-middle > div.copyright {
  display: table-cell;
  height: 39px;
  font-size: 11px;
  text-align: center;
  vertical-align: bottom;
  font-family: system-ui;

  @media (min-width: $mobile-breakpoint) {
    width: 400px;
  }
}

section > div.bottom-middle > div.bottom-middle-border {
  display: none;
 
  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 400px;
    height: 43px;
    background-image: url("/img/edge_c.jpg");
  }
}

section > div.bottom-right-border {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 100px;
    height: 82px;
    background-image: url("/img/edge_h.jpg");
  }
}

.copyright p {
  margin: 0;
}

.middle-content .guidelines, .middle-content .tracker {
  height: auto;
  overflow: hidden;
  width: 90%;
}

.middle-content .guidelines h3, .middle-content .tracker {
  text-align: left;
  margin-bottom: 0;
  margin-top: 7px;
  font-size: 1em;
}

.middle-content .guidelines ul, .middle-content .tracker {
  margin: 0;
  padding-left: 20px;
  font-size: .8rem;
}

.middle-content .guidelines {
  margin-bottom: 20px;
}

.middle-content .rules, .middle-content .faq {
  height: auto;
  overflow: hidden;
  width: 90%;
}

.middle-content .rules h3, .middle-content .faq dt {
  text-align: left;
  margin-bottom: 0;
  margin-top: 7px;
  font-size: 1em;
}

.middle-content .rules ul, .middle-content .faq dd {
  margin: 0;
  padding-left: 20px;
  font-size: .8rem;
}

.middle-content .rules {
  margin-bottom: 20px;
}

.statistics {
  width: 70%;
  margin-bottom: 10px;
}

.statistics h3 {
  text-align: center;
  margin: 5px 0 10px;
}

div.middle-content-server dl {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 auto;
}

div.middle-content-server dl dd {
  text-align: right;
  margin: 1px 0;
}

.server > p {
  text-align: center;
  margin: 0;
  padding-top: 4px;
}

.player-page-link:hover, .clan-page-link:hover {
  color: lightgray;
}

.clan-list td:not(:last-child) {
  padding-left: 5px;
}

.hiscore-links {
  width: 160px;
  min-height: 310px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.players-info {
  flex: 2 0 30%;
}

.players-skills, .clan-members {
  flex: 1 0 50%;
}

.players-skills table, .clan-members table {
  width: 100%;
}

.player {
  justify-content: space-between;
}

.search-box {
  width: 180px;
  height: 73px;
  padding: 4px;
  border: 4px inset #373737;
  outline: 2px solid black;
  background-color: #474747;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.error-message {
  margin: 15px;
  text-align: center;
}

.error-image {
  margin-top: 15px;
}

.database {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.database form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.database hr {
  margin: 10px 0;
  width: 100%;
}

.database tr, .database th {
  padding: 2px;
}

.database > p {
  margin: 0 15px;
}

nav {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-align: center;
}

nav h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
}

nav label {
  margin-bottom: 0;
}

nav p {
  text-align: center;
}

.toggle, [id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 36, 47);
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  float: left;
  background-color: rgba(19, 36, 47, 0.95);
  background-blend-mode: darken;
  z-index: 999;
}

.dropdown-divider {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  z-index: 999;
}

/* Styling the links */
nav a {
  display: block;
  /*padding:14px 20px; */
  padding: 8px 8px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  text-decoration: none;
}

/* Background color change on Hover */
nav a:hover {
  color: rgb(255, 255, 255);
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  /*top: 60px; */
  top: 48px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* First Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  text-align: left;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: ' ▾';
}

li > a:only-child:after {
  content: '';
}

.nav-hiscores-dropdown {
  background: black;
  width: 130px;
  transform: translate(-20px);

  @media (min-width: $mobile-breakpoint) {
    transform: none;
  }
}

.nav-guides-dropdown {
  background: black;
  width: 150px;
  transform: translate(-70px);

  @media (min-width: $mobile-breakpoint) {
    transform: none;
  }
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 768px) {

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }
  /* Styling the toggle label */
  .toggle {
    display: block;
    background-color: rgba(19, 36, 47, 0.95);
    padding: 8px 8px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    text-decoration: none;
    border: none;
  }
  .toggle:hover {
    background-color: rgba(19, 36, 47, 0.3);
  }
  /* Display Dropdown when clicked on parent label */
  [id^=drop]:checked + ul {
    display: block;
  }
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul ul ul a {
    padding: 0 80px;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: rgba(19, 36, 47, 0.3);
  }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 8px 8px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
  }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: rgba(16, 25, 34, 0.8);
  }
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: rgba(255, 255, 255, 0.7);
    /* has to be the same number as the "line-height" of "nav a" */
  }
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  /* First tier dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

.navbar-expand-xxl {
  font-family: system-ui;

  .flex-row {
    @media (min-width: $mobile-breakpoint) {
      width: 596px;
    }
  }
}

.body-world-map {
  width: 2316px;
}

.orsc-checkbox-label {
  display: inline;
}

.breadcrumb-bar {
  width: 250px;
  background: black;
  padding: 4px;
  margin: 20px auto 0;

  @media (min-width: $mobile-breakpoint) {
    margin: 0;
  }
}

.orsc-pagination-link {
  text-decoration: none;
}